<div class="bodyA">
  <h1>Añadir un nuevo modelo</h1>
  <form [formGroup]="CarForm" (ngSubmit)="onSubmit()">
    <div class="contInput">
      <input
        type="number"
        placeholder="Numero de serie"
        name="seriesNumber"
        formControlName="seriesNumber"
        [(ngModel)]="nmbSeries"
        (input)="verifySeries()"
      />
      @if(CarForm.get('seriesNumber')?.touched &&
      CarForm.get('seriesNumber')?.hasError('required')){
      <p class="error">El n° de serie es obligatorio</p>
      }@else if (CarForm.get('seriesNumber')?.touched &&
      CarForm.get('seriesNumber')!.hasError('min')){
      <p class="error">El n° de serie es inferior a 10 digitos</p>
      }@else if (CarForm.get('seriesNumber')?.dirty &&
      CarForm.get('seriesNumber')!.hasError('max')) {
      <p class="error">El n° de serie es superior a 10 digitos</p>
      }
    </div>
    <div class="contInput">
      <input
        type="text"
        placeholder="Modelo"
        name="model"
        formControlName="model"
        [(ngModel)]="nmModel"
      />
      @if(CarForm.get('model')?.dirty){
        @if(verifyModel()){
        <p class="error">El modelo ya existe</p>
        }
      }
      @if(CarForm.get('model')?.touched &&
      CarForm.get('model')?.hasError('required')){
      <p class="error">El modelo es obligatorio</p>
      }@else if (CarForm.get('model')?.touched &&
      CarForm.get('model')!.value.length < 3){
      <p class="error">El modelo debe tener un minimo de 3 caracteres</p>
      }@else if (CarForm.get('model')?.dirty &&
      CarForm.get('model')!.value.length > 30) {
      <p class="error">El modelo no puede ser superior a 30 caracteres</p>
      }
    </div>
    <div class="contInput">
      <select name="category" id="category" formControlName="category">
        <option value="Coupé">Coupé</option>
        <option value="Cabriolet">Cabriolet</option>
        <option value="SUV">SUV</option>
        <option value="Berlina">Berlina</option>
      </select>
      @if(CarForm.get('category')?.touched &&
      CarForm.get('category')?.hasError('required')){
      <p class="error">La categoria es obligatorio</p>
      }
    </div>
    <div class="contInput">
      <input
        type="number"
        placeholder="Caballos de fuerza"
        name="cv"
        formControlName="cv"
      />
      @if(CarForm.get('cv')?.touched &&
      CarForm.get('cv')?.hasError('required')){
      <p class="error">El n° de caballos de fuerza es obligatorio</p>
      }@else if (CarForm.get('cv')?.touched &&
      CarForm.get('cv')!.hasError('min')){
      <p class="error">
        El n° de caballos de fuerza debe tener un minimo de 100CV
      </p>
      }@else if (CarForm.get('cv')?.dirty && CarForm.get('cv')!.hasError('max'))
      {
      <p class="error">El máximo de n° de caballos de fuerza es 5000CV</p>
      }
    </div>
    <div class="contInput">
      <input
        type="number"
        placeholder="Velocidad máxima"
        name="maxSpeed"
        formControlName="maxSpeed"
      />
      @if(CarForm.get('maxSpeed')?.touched &&
      CarForm.get('maxSpeed')?.hasError('required')){
      <p class="error">La velocidad máxima es requerida</p>
      }@else if (CarForm.get('maxSpeed')?.touched &&
      CarForm.get('maxSpeed')!.hasError('min')){
      <p class="error">La velocidad máxima debe tener un minimo de 10 km/h</p>
      }@else if (CarForm.get('maxSpeed')?.dirty &&
      CarForm.get('maxSpeed')!.hasError('max')) {
      <p class="error">El limite de la velocidad máxima es de 800 km/h</p>
      }
    </div>
    <div class="contInput">
      <input
        type="number"
        placeholder="Aceleración de 0 a 100 km/h"
        name="accelerationTime"
        formControlName="accelerationTime"
      />
      @if(CarForm.get('accelerationTime')?.touched &&
      CarForm.get('accelerationTime')?.hasError('required')){
      <p class="error">La aceleración es requerido</p>
      }@else if (CarForm.get('accelerationTime')?.touched &&
      CarForm.get('accelerationTime')!.hasError('min')){
      <p class="error">La aceleración debe de ser de un minimo de 0.1 seg</p>
      }
    </div>
    <div class="contInput">
      <input
        type="number"
        placeholder="Precio"
        name="price"
        formControlName="price"
      />
      @if(CarForm.get('price')?.touched &&
      CarForm.get('price')?.hasError('required')){
      <p class="error">El precio es requerido</p>
      }@else if (CarForm.get('price')?.touched &&
      CarForm.get('price')!.hasError('min')){
      <p class="error">El precio debe de ser como minimo de 1€</p>
      }
    </div>
    <div class="contInput">
      <label for="available">Disponibilidad</label>
      <input type="checkbox" name="available" formControlName="available" />
    </div>
    <button type="submit" [disabled]="CarForm.invalid" class="btnSubmit">
      Guardar
    </button>
  </form>
</div>
