<div class="bodyHome">
  <video
    src="https://www.astonmartin.com/-/media/models---vantage-coupe/homepage_ngv_websitehero_8s_16x9_option-01_general-02_v4_060224.mp4?rev=da9d28119a744dfe9b8472fd7cfbbb50"
    autoplay
    loop
    muted
    class="video"
  ></video>
  <video
    src="
    https://www.astonmartin.com/-/media/dbx707_images_new_model_page_design/dbx707_new_assets/hero/videos/astonmartindbx_08_webloop_16x9_new_nov20.mp4?rev=99e77a03765440a5975337bd48e835d5"
    autoplay
    loop
    muted
    class="video"
  ></video>
  <video
    src="
    https://www.astonmartin.com/-/media/aston-martin-brand-stories-new/q-new-york---the-configurator/q_new_york_8sec-web.mp4?rev=-1"
    autoplay
    loop
    muted
    class="video"
  ></video>
  <img class="rowAM" src="https://www.astonmartin.com/-/media/personalize/quote-desktop.png" alt="Aston Martins Row">
  <div class="videoContainer">
    <video 
      class="videoV2"
      src="https://dacastdd.s.llnwi.net/universe-vod-storage/inline/289c9a4b-581b-e0db-677c-cf368cdcb198/14b701c3-86ec-4735-9601-202149d2eac2/a4ac54dc-e5cd-86b8-ca65-8d39998b7a05_rendition.mp4?p=181&s=1713197079&e=1713200679&X-Dacast-Vod=14b701c3-86ec-4735-9601-202149d2eac2&h=d480cae9defb78aaae091d81712544b6"
      autoplay
      loop
    ></video>
    <div class="overlay">
      <p class="overlayText">We have an unstoppable quest for profound gratification. A desire to capture the pure human emotion of the driving experience.</p>
      <p class="overlayText V2">- Aston Martin</p>
    </div>
  </div>
  <video 
  src="https://dacastdd.s.llnwi.net/signedurl-vod-storage/inline/ac5cdbbd-b072-a3d0-f2b9-ee3d7b57c317/093c43a9-57d2-71dc-1358-9c61937fd665_rendition.mp4?p=145&s=1713202533&e=1713206133&X-Dacast-Vod=ac5cdbbd-b072-a3d0-f2b9-ee3d7b57c317&h=e135c0110a07e9cd7307c2f7e40e11e8"
  muted
  controls
  autoplay
  class="video"
  ></video>
  <div class="contDoubleVideo" #contDoubleVideo>
    <video
      #video1
      src="https://dacastdd.s.llnwi.net/universe-vod-storage/inline/289c9a4b-581b-e0db-677c-cf368cdcb198/72de2871e0317f38dccd55f3f8989191/source.mp4?p=137&s=1713113843&e=1713117443&X-Dacast-Vod=72de2871e0317f38dccd55f3f8989191&h=9b347c179458445e93e816777b55cfe7"
      loop
      muted
      class="videoDouble"
      (mouseenter)="playVideo(video1)"
      (mouseleave)="stopVideo(video1)"
    ></video>
    <video
      #video2
      src="https://dacastdd.s.llnwi.net/universe-vod-storage/inline/289c9a4b-581b-e0db-677c-cf368cdcb198/dcfb0227-16cb-4cc3-a957-ee2cbb08569e/source.mp4?p=141&s=1713113955&e=1713117555&X-Dacast-Vod=dcfb0227-16cb-4cc3-a957-ee2cbb08569e&h=725ddd101f60147d18718239c086c840"
      loop
      muted
      class="videoDouble"
      (mouseenter)="playVideo(video2)"
      (mouseleave)="stopVideo(video2)"
    ></video>
  </div>
</div>
